.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .pagination-item{
    margin: 0 12px;
  }

  .pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
  }

  .pagination-item--active .pagination-item__link:hover{
    filter: brightness(110%);
  }

  .pagination-item__link{
    --height: 30px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    display: block;
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
  }

  .search-box{
  margin: 0 auto;
  width:80%;
  }

  .table-box{
    margin: 15px auto;
    width: 80%;
  }

  .btn-mines{
  border-color: #ffcccc;
  background-color: #ffcccc;
  border-radius: 5px;
  color: blue;
  font-weight:bold;
  font-size: 20px;
  }